.calendario {
    background-color: #f0f2f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.calendario-titulo {
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.data-atual {
    font-size: 16px;
    /* Ajustei o tamanho para melhor caber */
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 10px;
}

.dia-atual {
    font-size: 36px;
    font-weight: 800;
    color: #3498db;
    margin-bottom: 5px;
}

.mes-ano {
    font-size: 16px;
    color: #777;
}