.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  /* NOVO: Adiciona um espaçamento à esquerda para compensar a barra de navegação fixa */
  padding-left: 6.5rem; /* (5rem da barra + 1.5rem de margem) */
}

/* Ajusta o espaçamento em telas menores onde o menu pode se comportar de forma diferente */
@media (max-width: 1200px) {
    .app-container {
        padding-left: 1.5rem;
    }
}